.container{
    padding : 2rem 10vw;
    color : var(--black);
    text-align: left;
}
.container > h2 {
    font-family: GalanogrotesqueMedium;
    font-size: 36px;
    margin-bottom: 1rem;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
    width: 30%;
}
