:root {
  font-family: Galanogrotesque, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-blue : #146EB4;
  --black : #1A181E;
}
@font-face {
  font-family: 'Galanogrotesque';
  src: url(./assets/fonts/galanogrotesque-regular.otf) format('truetype');
}
@font-face {
  font-family: 'GalanogrotesqueMedium';
  src: url(./assets/fonts/galanogrotesque-medium.otf) format('truetype');
}
@font-face {
  font-family: 'GalanogrotesqueSemi';
  src: url(./assets/fonts/galanogrotesque-semibold.otf) format('truetype');
}
